{% extends "ckblues/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'ckblues/scripts.js' %}"></script>
{% endblock %}

{% block body %}
  <h2>Hello {{ username }}!</h2>
  <button id="update-button" class="btn btn-primary btn-sm">Update Email/Password</button>
  
  <!-- display feedbacks -->
  <section id="feedback-section">
    <h3>My Feedback Submissions:</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Category</th>
          <th scope="col">Review Status</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        {% for feedback in feedbacks %}
          <tr>
            <td>{{ feedback.date }}</td>
            <td>{{ feedback.category }}</td>
            <td>
              {% if feedback.reviewed %}
                Reviewed
              {% else %}
                Not Reviewed
              {% endif %}
            </td>
            <td><a href="{% url 'feedback' feedback.id %}">View feedback</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <!-- update credentials -->
  <section id="update-section">
    <h3>Update email and/or password</h3>
    <form action="{% url 'update-credentials' username %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <input class="form-control" type="email" id="email" name="email" placeholder="New email">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" id="password" name="password" placeholder="New password">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" id="confirmation" name="confirmation" placeholder="Confirm new password">
      </div>
      <button type='button' class="btn btn-primary" id="cancel-update-button">Cancel</button>
      <input class="btn btn-primary" type="submit" value="Submit" id="submit-update-button">
    </form>
  </section>
{% endblock %}