{% extends "ckblues/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'ckblues/scripts.js' %}"></script>
{% endblock %}

{% block body %}
<div class="row">

  <div class="col-sm-10 main">
  <h2>
    Hello {{ username }}
    <!-- music note icon -->
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-music-note-beamed" viewBox="0 0 16 16">
      <path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z"/>
      <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z"/>
      <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z"/>
    </svg>
  </h2>
  <button id="update-button" class="btn btn-primary btn-sm">Update Email/Password</button>
  
  <!-- display feedbacks -->
  <section id="feedback-section">
    <h3>My Feedback Submissions:</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Category</th>
          <th scope="col">Review Status</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        {% for feedback in feedbacks %}
          <tr>
            <td>{{ feedback.date.month }}-{{ feedback.date.day }}-{{ feedback.date.year }}</td>
            <td>{{ feedback.category }}</td>
            <td>
              {% if feedback.reviewed %}
                Reviewed
              {% else %}
                Not Reviewed
              {% endif %}
            </td>
            <td><a href="{% url 'feedback' feedback.id %}">View feedback</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

  <!-- update credentials -->
  <section id="update-section">
    <p>Update email and/or password</p>
    <p class="light-text">Note: you will have to log back in with your new credentials after submitting this form.</p>
    <form action="{% url 'update-credentials' username %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <input class="form-control" type="email" id="email" name="email" placeholder="New email">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" id="password" name="password" placeholder="New password">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" id="confirmation" name="confirmation" placeholder="Confirm new password">
      </div>
      <button type='button' class="btn btn-primary" id="cancel-update-button">Cancel</button>
      <input class="btn btn-primary" type="submit" value="Submit" id="submit-update-button">
      <span id="password-match-warning"></span>
    </form>
  </section>

  </div>
  </div>
{% endblock %}