{% extends "ckblues/layout.html" %}
{% load static %}

{% block body %}
  <h2>Feedback Form</h2>
  <form action="{% url 'feedback-form' %}" method="POST">
    {% csrf_token %}
      <div class="form-group">
        <label for="video-url">Video URL</label>
        <input type="url" name="video-url" id="video-url" class="form-control" placeholder="https://youtu.be/example" pattern="https://.*" required>
      </div>
      <div class="form-group">
        <label for="video-category">Video Category</label>
        <select name="video-category" id="video-category">
          <option value="cover-song">Cover Song</option>
          <option value="soloing">Soloing</option>
          <option value="rhythm">Rhythm</option>
          <option value="improvisation">Improvisation</option>
          <option value="technique">Technique</option>
        </select>
      </div>
      <div class="form-group">
        <label for="video-note">Please describe any specific questions you have regarding the video.</label>
        <textarea name="video-note" id="video-note" rows="10" class="form-control" placeholder="Comment"></textarea>
      </div>

      <input type="submit" value="Submit" class="btn btn-sm btn-primary">
  </form>
{% endblock %}