{% extends "ckblues/layout.html" %}
{% load static %}

{% block body %}
  <h1>Feedback for {{ feedback.user }} - {{ feedback.category }}</h1>
  <p class="feedback-date-received">Date received: {{ feedback.date }}</p>
  {% if feedback.reviewed == True %}
    <h2>Feedback Screencast:</h2>
    <iframe src="https://www.youtube.com/embed/{{ feedback.videoResponse }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {% endif %}
  <h2>Your Video Submission:</h2>
  <iframe src="https://www.youtube.com/embed/{{ feedback.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h3>Your notes:</h3>
  <div>
    {{ feedback.note }}
  </div>


    <h3>Leave a Comment</h3>
    <form action="{% url 'feedbackComment' feedback.id %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" name="comment" class="form-control" placeholder="Comment" required>
      </div>
      <input type="submit" value="Submit" class="btn btn-sm btn-primary">
    </form>

  <h3>Comments</h3>
    <ul class="comments">
    {% for comment in comments %}
      <li class="comment">
        <span class="comment-date-user">On {{ comment.date }}, {{ comment.user.username }} wrote:</span>
        <br>
        {{ comment.comment }}
      </li>
    {% empty %}
      <p>No Comments yet!</p>
    {% endfor %}
    </ul>

{% endblock %}