{% extends "ckblues/layout.html" %}
{% load static %}

{% block body %}
<h2>{{ feedback.user }}</h2>
<h3>Feedback for {{ feedback.category }}</h3>
<p>Date received: {{ feedback.date }}</p>
<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ feedback.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
<p>
  Your notes:<br>
  {{ feedback.note }}
</p>


    <h3>Leave a Comment</h3>
    <form action="{% url 'feedbackComment' feedback.id %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" name="comment" class="form-control" placeholder="Comment" required>
      </div>
      <input type="submit" value="Submit" class="btn btn-sm btn-primary">
    </form>

  <h3>Comments</h3>
  <ul>
  {% for comment in comments %}
    <li>
      On {{ comment.date }}, {{ comment.user.username }} wrote:
      <br>
      {{ comment.comment }}
    </li>
  {% empty %}
    <p>No Comments yet!</p>
  {% endfor %}
  </ul>

{% endblock %}