/* * {
  border: 1px solid black;
} */

/* styles for layout.html, main page sections */
.main,
.sidebar {
  padding-top: 1em;
}

/* logo styles when screen >= 576px; */
img.logo {
  height: 120px;
}

.nav-item {
  min-width: 100px;
  text-align: center;
}

/* blog post excerpt on index, welcome on index, and all forms */
section.post,
form,
div#welcome {
  margin-bottom: 1em;
  padding: 1em;
  background-color:#f8f9fa;
  border-radius: 6px;
}
div#welcome {
  padding: 2em;
}

section.post {
  overflow: hidden;
}

/* in dashboard, update email and or password not displayed by default */
#update-section {
  display: none;
}

footer {
  text-align: center;
  padding: 2em 0;
  opacity: 50%;
}

/* elements */

.table {
  overflow: hidden !important;
}

h2,
h3 {
  margin: 1em 0em;
}

h3 {
  font-size: 120%;
}

a,
span#dismiss {
  color: #2a6a95;
}
a:hover,
span#dismiss:hover {
  color: #1e4b6a;
  text-decoration: none;
}

/* table rows in dashboard feedback */
tbody > tr:hover {
  background-color:#f8f9fa;
}

ul.category {
  margin: 0;
  padding: 0;
}

.btn-primary {
  background-color: #2a6a95;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #1e4b6a !important;
}

.btn:disabled {
  background-color: #d6d6d6!important;
  border: none;
}

/* pagination section styles */
.page-link {
  color: #2a6a95;
}

.page-link:hover {
  background-color:#f8f9fa;
  color: #1e4b6a;
}

/* youtube video width when screen >= 768 */
iframe {
  width: 560px;
  height: 315px;
}

/* comment section of feedback and post */

li {
  list-style: none;
}

div.comment-section {
  background-color: rgb(245, 245, 245);
  padding: 1%;
}

li.comment {
  padding: 15px 25px;
  margin: 15px 0px;
  background-color: rgb(235, 235, 235);
}

/* media queries for logo, nav nav links, youtube videos */
@media (max-width: 976px) {
  .nav-item {
    text-align: right;
  }
}

/* table display on mobile */
@media (max-width: 768px) {
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
  thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
  td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative !important;
		padding-left: 50% !important; 
	}
	
	td:before { 
		/* Acts like the table header */
		position: absolute;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    font-weight: 600;
	}

	td:nth-of-type(1):before { content: "Date"; }
	td:nth-of-type(2):before { content: "Category"; }
	td:nth-of-type(3):before { content: "Review Status"; }
	td:nth-of-type(4):before { content: "Link"; }

@media (max-width: 576px) {
  img.logo {
    width: 100%;
    height: auto;
  }
  .nav-item {
    text-align: left;
  }

  /* youtube video on phones */
  iframe {
    width: 100%;
    height: auto;
  }
}
