/* * {
  border: 1px solid black;
} */

/* header, nav logo */
img.logo {
  height: 120px;
}

.nav-item {
  min-width: 100px;
}

section.post {
  border: 1px solid black;
  margin-bottom: 1em;
  padding: 1em;
}

#update-section {
  display: none;
}

/* main elements */

h2 {
  margin: 1em 0em;
}

a {
  color: #2a6a95;
}
a:hover {
  color: #19415c;
  text-decoration: none;
}

ul.category {
  margin: 0;
  padding: 0;
}

/* comment section of feedback and post */

li {
  list-style: none;
}

div.comment-section {
  background-color: rgb(245, 245, 245);
  padding: 1%;
}

li.comment {
  padding: 15px 25px;
  margin: 15px 0px;
  background-color: rgb(235, 235, 235);
}

/* media query for logo */
@media (max-width: 576px) {
  img.logo {
    width: 100%;
    height: auto;
  }
}
