/* * {
  border: 1px solid black;
} */

/* styles for layout.html, main page sections */
.main,
.sidebar {
  padding-top: 1em;
}

img.logo {
  height: 120px;
}

.nav-item {
  min-width: 100px;
  text-align: center;
}

section.post {
  margin-bottom: 1em;
  padding: 1em;
  background-color:#f7f9fa;
}

#update-section {
  display: none;
}

footer {
  text-align: center;
  padding: 2em 0;
  opacity: 50%;
}

/* elements */

h2,
h3 {
  margin: 1em 0em;
}

h3 {
  font-size: 120%;
}

a {
  color: #2a6a95;
}
a:hover {
  color: #1e4b6a;
  text-decoration: none;
}

tbody > tr:hover {
  background-color:#f7f9fa;
}

ul.category {
  margin: 0;
  padding: 0;
}

.btn-primary {
  background-color: #2a6a95;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #1e4b6a;
}

/* comment section of feedback and post */

li {
  list-style: none;
}

div.comment-section {
  background-color: rgb(245, 245, 245);
  padding: 1%;
}

li.comment {
  padding: 15px 25px;
  margin: 15px 0px;
  background-color: rgb(235, 235, 235);
}

/* media query for logo */
@media (max-width: 576px) {
  img.logo {
    width: 100%;
    height: auto;
  }
}
